<div class="user-details">
  <h1>{{site.description}}</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="headshot" src="{{ "/assets/img/headshot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> About Me </h3>
    <p>I am a NASA Hubble Postdoctoral Fellow at Carnegie Observatories in Pasadena, California.  I work primarily in the emerging new field of joint gravitational wave (GW) and electromagnetic (EM) astronomy. My research focuses on everything from survey design to executing optical/NIR follow-up of GW triggers from LIGO, to modeling of the optical/NIR counterpart. Prior to my time at Carnegie, I earned my doctorate in astronomy from Harvard University under the advisement of Prof. Edo Berger and my undergraduate degree from University of Maryland - College Park, where I worked with Chris Reynolds on various observational and theoretical aspects of accretion disks.</p>

    <p>In a previous life I was a filmmaker and photographer, working in and around Baltimore, MD and Washington D.C.</p>
  </div>
</div>
