<div class="user-details">
  <h1> Cirriculum Vitae </h1>
</div>

<div class="user-projects">
<p>Below is a summary of my Curriculum Vitae as of November 2019. You can also obtain a <a href="/files/pcowpert_cv_full.pdf">PDF version</a> of this information.</p>

<h2 id="contactinformation">Contact Information</h2>

<p>Carnegie Observatories <br />
813 Santa Barbara St. <br />
Pasadena, CA 91104</p>

<p>E-mail - <a href="mailto:pcowperthwaite@carnegiescience.edu">pcowperthwaite@carnegiescience.edu</a> <br />
Office - 203</p>

<h2 id="education">Education</h2>

<ul>
<li><strong>Harvard University</strong>, Cambridge, Massachusetts USA

<ul>
<li>A.M., Astronomy (Spring 2015)</li>

<li>Ph.D., Astronomy (Spring 2018)
<ul>

<li>From Design to Detection: Joint Gravitational Wave and Electromagnetic Astronomy</li>

<li>Advisor: Prof. Edo Berger</li>

<li>Awarded the <a href="https://astronomy.fas.harvard.edu/fireman-fellowship-graduate">Fireman Thesis Prize</a></li></ul>
</li></ul></li>

<li><strong>The University of Maryland at College Park</strong>, College Park, Maryland USA

<ul>
<li>B.S., <em>Summa Cum Laude</em>, Astronomy with High Honors (Spring 2013)</li>

<li>B.S., <em>Summa Cum Laude</em>, Physics (Spring 2013)  </li></ul>
</li></ul>

<h2 id="positions">Positions</h2>

<ul>
<li><strong>Carnegie Observatories</strong>, Pasadena, California USA

<ul>
<li>NASA Hubble Postdoctoral Fellow, 2018-2021</li></ul>
</li>
</ul>

<h2 id="awards">Awards</h2>

<ul>
<li><strong>National Aeronautics and Space Administration</strong>

<ul>
<li>Hubble Postdoctoral Fellow, 2018-2021</li></ul></li>

<li><strong>American Astronomical Society</strong>

<ul>
<li>Rodger Doxsey Travel Prize (2018)</li></ul></li>

<li><strong>Harvard University</strong>

<ul>
<li>Fireman Thesis Prize (2018)</li>

<li>Harvard Horizons Finalist (2018)</li>

<li>Merit Fellowship (2017–2018)</li>

<li>John Parker Bequest Grant (2017–2018)</li>

<li>John P. and Carol J. Merrill Graduate Fellow (2014–15)  </li></ul></li>

<li><strong>National Science Foundation</strong>

<ul>
<li>Graduate Research Fellowship (2013–18)  </li></ul></li>

<li><strong>University of Maryland, College Park</strong>

<ul>
<li>University Medal Finalist (2013)</li>

<li>J.R. Dorfman Prize for Outstanding Undergraduate Research (2013)</li>
</ul></li>

<li><strong>The State of Maryland</strong>

<ul>
<li>Howard P. Rawlings Grant (2010–12)</li>

<li>Maryland Delegates Grant (2010–12)</li></ul>
</li>
</ul>

<h2 id="researchexperience">Research Experience</h2>

<ul>
<li><strong>NSF Graduate Research Fellow</strong>, Harvard University

<ul>
<li>Optical Follow-Up of Gravitational Wave Events (2013 - 2018)</li>
</ul></li>

<li><strong>REU Summer Research Internship</strong>, Smithsonian Astrophysical Observatory

<ul>
<li>Infrared Spectroscopy of Blazars (2012)  </li></ul></li>

<li><strong>Undergraduate Research Assistant</strong>, The University of Maryland, College Park

<ul>
<li>Numerical Simulations of Accretion Flows (2012 - 2013)</li>

<li>X-Ray Spectroscopy of Active Galactic Nuclei (2010 - 2012)</li>

<li>Visualizations of Black Hole Accretion Flows (2010)  </li></ul></li>

<li><strong>CRESST Summer Research Internship</strong>, NASA/Goddard Space Flight Center

<ul>
<li>Visualizations of Merging Black Hole Binaries (2011)  </li></ul>
</li>
</ul>

<h2 id="observationalexperience">Observational Experience</h2>

<p>I am a PI or Co-I on long-running programs designed to search for and characterize electromagnetic counterparts to gravitational wave events across a large fraction of the electromagnetic spectrum.</p>

<ul>
<li>Radio: VLA, ATCA, ALMA </li>
<li>Infrared: Magellan/FIRE, MMT/MMIRS, Spitzer/IRAC  </li>
<li>Optical: Blanco/DECam, Magellan/IMACS and LDSS3-C, MMT/MMTCam  </li>
<li>X-Ray: Chandra, NuSTAR, XMM-Newton  </li>
</ul>


<h2 id="mentoringexperience">Mentoring Experience</h2>

<ul>
<li><strong>Research Advisor for Undergraduates</strong>, Harvard University

<ul>
<li>Mahlet Shiferaw – Galaxy Catalogs for GW/EM Targeted Follow-Up (2017)</li>
<li>Samuel Liu – Data Science Techniques for Light Curve Analysis (2016)  </li></ul>
</li>
</ul>

<h2 id="teachingexperience">Teaching Experience</h2>

<ul>
<li>
<strong>Graduate Teaching Fellow</strong>, Harvard University

<ul>
<li>Astronomy 16 - Stellar and Planetary Astronomy  (Spring 2016)</li>
<li>Astronomy 200 - Radiative Processes  (Spring 2014) </li>
</ul></li>

<li>
<strong>Undergraduate Teaching Assistant</strong>, University of Maryland, College Park

<ul>
<li>Astronomy 100 - Introduction to Astronomy  (Fall 2011 - Spring 2013)</li>
<li>Astronomy 120 - Introductory Astrophysics  (Fall 2012; Grader)  </li>
</ul>
</ul>

<h2 id="publicationsummary">Publication Summary</h2>

<p>As of October 29, 2019 I am an author on 51 publications (9 as first author), my <em>h</em>-index is 26 and my publications have 3897 citations.  </p>

<p>A complete publications list can be found in the <a href="/files/pcowpert_cv_full.pdf">PDF Version</a> of my CV. A PDF Version of just presentations can be found <a href="/files/pcowpert_pubs.pdf">here</a>.</p>

<h2 id="presentationsummary">Presentation Summary</h2>

<p>As of October 29, 2019 I have given 32 presentations of which 29 have been talks and 3 have been posters.</p>

<p>A complete listing of talks and posters can be found in the <a href="/files/pcowpert_cv_full.pdf">PDF Version</a> of my CV. A PDF Version of just presentations can be found <a href="/files/pcowpert_talks.pdf">here</a>.</p>

<h2 id="references">References</h2>

<ul>
<li>Edo Berger  <br />
    <ul>
    <li>Professor,
    <a href="http://astronomy.fas.harvard.edu/">Astronomy</a>,
    <a href="http://www.gsas.harvard.edu/">Harvard University</a></li>
    <li>e-mail: <a href="mailto:eberger@cfa.harvard.edu">eberger@cfa.harvard.edu</a></li>
    <li>phone: +617-495-7914</li>
    </ul>
</li>

<li>Brian Metzger <br />
    <ul>
    <li>Associate Professor,
    <a href="http://phys.columbia.edu/">Department of Physics<a>,
    <a href="http://www.columbia.edu/">Columbia University</a></li>
    <li>e-mail: <a href="mailto:bdm2129@columbia.edu">bdm2129@columbia.edu</a></li>
    <li>phone: +212-854-9702</li>
    </ul>
</li>

<li>Raffaella Margutti <br />
    <ul>
    <li>Assistant Professor,
    <a href="https://www.physics.northwestern.edu/">Department of Physics & Astronomy <a>,
    <a href="https://www.northwestern.edu/">Northwestern University</a></li>
    <li>e-mail: <a href="mailto:raffaella.margutti@northwestern.edu">raffaella.margutti@northwestern.edu</a></li>
    <li>phone: +847-491-8637</li>
    </ul>
</li>

<li>Tony Piro <br />
    <ul>
    <li>Staff Astronomer,
    <a href="https://obs.carnegiescience.edu/">Carnegie Observatories</a></li>
    <li>e-mail: <a href="mailto:piro@carnegiescience.edu">piro@carnegiescience.edu</a></li>
    <li>phone: +626-304-0297</li>
    </ul>
</li>
</ul>
</div>
