<div class="user-details">
  <h1> Research Interests </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bns.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Joint GW-EM Astronomy </h3>
    <p>My research focuses on planning and executing efficient and effective follow up of gravitational wave (GW) sources in order to characterize their electromagnetic (EM) counterparts and tackle questions about the fundamental physics of compact objects. My approach involves the use of wide-field telescopes in order to find optical counterparts, which can then be followed-up to obtain a comprehensive multiwavelength data set. I then apply physical models to these counterparts in order to answer fundamental questions about the nature of the progenitors and remnants.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/lsst.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Large Astronomical Surveys </h3>
    <p>I am also interested in the development of strategies and tools to enable great transient science with the next-generation of wide-field surveys. This has been primarily focused on developing a target-of-opportunity program for the Large Synoptic Survey Telescope (LSST). This program is designed to search for EM counterparts to GW events out to much greater distances than other optical facilities. I am also interested in the development of machine learning techniques to quickly identify sources of interest in the massive stream of LSST data.</p>
  </div>
</div>
